/* global vars */
$font: Roboto, sans-serif;
$heading-color: #3b3636;
$text-color:  #ffffffd0;
$text-color-inverse: #909090;
$text-input-color: $text-color-inverse;
$form-input-background: #d9d9d9cf;
$input-font-size: 1rem;
$button-color: #512da8;
$form-group-element-padding: 1rem 1rem;
