:root {
  --ini-white-color: #fff;
  --ini-heading-color: #3b3636;
  --ini-text-color: #ffffffd0;
  --ini-text-color-inverse: #909090;
  --ini-text-input-color: --ini-text-color-inverse;
  --ini-form-input-background: #d9d9d9cf;
  --ini-bg-gray: #f3f4f6;
  --ini-bor-gray: #dadada;
  --ini-bor-dark: #212121;
  --ini-input-font-size: 1rem;
  --ini-button-color: #512da8;
  --ini-form-group-element-padding: 1rem 1rem;
}
body {
  margin: 0;
  padding: 0;
}
